body {
  margin: 5vh 5vh;
  background-color:rgba(255, 228, 196, 0.254);
}

table {
  background-color: #fff;
}

tr {
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  text-transform: uppercase;
  font-size: 13px;
}

td {
  font-size: 13px;
  border-bottom: 1px dotted #ddd;
}

.trueColor {
  background-color: green;
}
.falseColor {
  background-color: red;
}